#root {
  width:90vw;
  margin: 0 auto;
  text-align: center;
  border: solid;
}
.formMajor{
  border: solid red;
}
form{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
input{
  height: 100%;
}
.submit{
  margin-left: 1em;
  height: 100%;
  padding: 0%;
  width: 10vw;
}
.note{
  
    border:solid lightblue;
    padding:1em;
    margin:2em;
    border-width:.2px;
    /* height:22px;  */
    border-radius:8px;
    display:flex;
    justify-content: space-between;
    align-items: center;

  
}
.top{
  border:solid lightblue;
  border-radius:9px;
  border-width:.2px;
  padding:10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:65%;
  
}
.bottom{
  display:flex;
  justify-content: space-between;
  width:20%;
  align-items: center;

}
.editBtn, .deleteBtn {
  border:solid ;
  border-width:.2px;
  padding:1.5vh;
  height:15px;
  border-radius:7px;
  font-size:15px;

}
.editBtn:hover{
  border-width:.2px;
  padding:2vh ;
  color:lime;
}
.deleteBtn:hover {
  border-width:.2px;
  padding:2vh ;
  color:red;
}
.noteTitle{
  text-align:left;
}
.noteBody{
  text-align:right;
}